<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Race</title>
    {% block head_css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/app.css">
    {% endblock %}
    {% block head_js %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/b4af9e01c5.js" crossorigin="anonymous"></script>
        <script src="/assets/js/app.js"></script>
    {% endblock %}
</head>
<body>
    <div class="container my-5">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-notice">
                {{ message }}
            </div>
        {% endfor %}

        {% for label, messages in app.flashes(['warning', 'error']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="row">
            {#Create race button#}
            <div class="col-md-2">
                <form method="POST" action="{{ path('create-race') }}">
                    <button type="submit" class="btn btn-labeled btn-dark btn-lg">
                        Create race
                    </button>
                </form>
            </div>

            {#Run race button#}
            <div class="col-md-8">
                <form method="POST" action="{{ path('run-race') }}">
                    <button type="submit"
                            class="btn btn-labeled btn-info btn-lg"
                            {% if currentRaces|length == 0 %}disabled{% endif %}>
                        Progress
                    </button>
                </form>
            </div>

            <div class="col-md-2 align-self-end">
                {% if bestHorse %}
                    <div class="row">
                        <div class="col-sm-7 align-self-center">
                            <div class="top-result">
                                <i class="fas fa-horse-head"></i>
                            </div>
                            <span class="small-text">
                                Horse #{{ bestHorse.getId() }}
                                <br>
                                <i class="fas fa-stopwatch"></i>
                                {{ bestHorse.getFinishedInSeconds()|date('H:i:s', '+00:00 GMT') }}
                            </span>
                        </div>
                        <div class="col-sm-5">
                            <span class="badge badge-danger">Best result</span>
                            <div class="row justify-content-center">
                                <div class="col-sm-5"><i class="fas fa-tachometer-alt"></i></div>
                                <div class="col-sm-5">{{ bestHorse.getSpeed() }}</div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-5"><i class="fas fa-fist-raised"></i></div>
                                <div class="col-sm-5">{{ bestHorse.getStrength() }}</div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-5"><i class="fas fa-gopuram"></i></div>
                                <div class="col-sm-5">{{ bestHorse.getEndurance() }}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {% for race in currentRaces %}
            <h3>Race #{{ race.getId() }}</h3>
            <p><i class="fas fa-stopwatch"></i> {{ race.getRaceTime()|date('H:i:s', '+00:00 GMT') }}</p>
            <div class="progress">
                {% for horse in race.getHorses() %}
                    <div class="point"
                         style="width: {{ horse.getCurrentDistance()*100/1500 }}%">
                        <i class="fas fa-horse"
                           data-toggle="popover"
                           data-placement="top"
                           data-content="#{{ horse.getId() }}, {{ horse.getCurrentDistance|number_format() }}m"
                        ></i>
                    </div>

                    {% if loop.last %}
                        <div class="progress-bar bg-info" style="width: {{ horse.getCurrentDistance()*100/1500 }}%" aria-valuemin="0" aria-valuemax="100"></div>
                    {% endif %}
                {% endfor %}
            </div>
            <br>
        {% endfor %}

        {% if lastRaces|length > 0 %}
            <br>
            <h3>Last race results</h3>
            <table class="table last-races">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Race</th>
                        <th scope="col">Horses</th>
                    </tr>
                </thead>
                <tbody>
                    {% for race in lastRaces %}
                        <tr>
                            <th scope="row">
                                #{{ race.getId() }}
                                Total time {{ race.getRaceTime()|date('H:i:s', '+00:00 GMT')  }}
                            </th>
                            <td>
                                {% for horse in race.getTopHorses()|slice(0,3) %}
                                    <div class="top-horse">
                                        <i class="fas fa-medal"></i>
                                        Horse #{{ horse.getId() }} -
                                        time {{ horse.getFinishedInSeconds()|date('H:i:s', '+00:00 GMT') }}
                                    </div>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</body>
</html>