.container {
    color: #313131;
}
.progress {
    position: relative;
}
.progress .point {
    position: absolute;
    text-align: right;
}
.top-result {
    color: grey;
    font-size: 50px;
    display: flex;
}
.last-races .top-horse:nth-of-type(1) .fa-medal {
    color: gold;
}
.last-races .top-horse:nth-of-type(2) .fa-medal {
    color:silver;
}
.last-races .top-horse:nth-of-type(3) .fa-medal {
    color:goldenrod;
}
.small-text {
    font-size: 13px;
}
